*.dmg
*.exe
*.gz
*.ids
*.iml
*.ipr
*.iws
*.log
*.log*.tmp
*.log.*.gz
*.out
*.sublime-workspace
*.swp
*.tar
*.tmp
*.tgz
*.zip
*~
.DS_Store
.bundle
.classpath
.idea
.metadata
.project
.rakeTasks
.redcar
.settings
.tmp*
.gradle
.vscode
classes
out
projectFilesBackup
target
build
